* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.auth-container {
  width: 420px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 25px #0000001a;
}
.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
#registerForm {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 0.5rem;
}
.inp {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
}
.inp:focus {
  outline: none;
  border-color: #771818;
}
.sub-sign {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #771818;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
.sub-sign:hover {
  background-color: #5c1212;
  transform: translateY(-2px);
}
/* still need an edit */
.error {
  display: none;
  color: #d8000c;
  background-color: #ffd2d2;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
}
.input-error {
  border: 2px solid red;
}
